# Python
 ## Python
  ###    Python
   #### Python
   ##### Python
   ###### Python

# Python
- day1
- day2 
     - topic1
         - 1
             - **Hello**
             - *Hello*
             - ***Hello***
         - 2
     - topic2

In [13]:
print('hello world!')
print('I welcome you python bro')

hello world!
I welcome you python bro
<class 'NoneType'>

In [19]:
print('hello world!',end=' ')
print("I welcome you python bro",'yes')

hello world! I welcome you python bro yes

In [22]:
a=input("enter your name: ")
print("MyName:",a)

enter your name:unknown
MyName: unknown

In [23]:
x=7
type(x)

int

In [25]:
print(x+5)
y=5
print(x+5-y)

12
7

In [28]:
x=10.8
y=6
print(x+y,"-",type(x+y))

16.8 - <class 'float'>

In [30]:
a=2+2j
b=4+4j
print(a+b,"-",type(a+b))

(6+6j) - <class 'complex'>

In [42]:
#Type casting
x=7.7
y=int(x)
print( y,"\n",x,"-converting to complex:",complex(x))

7
 7.7 -converting to complex: (7.7+0j)

In [61]:
b=True
type(b)
i=5

In [48]:
a="string123456789"
print(type(a))
type(a)

<class 'str'>

str

In [68]:
s='99'
type(int(s))

int

In [70]:
len(s)

2

In [80]:
a=5
b=3
print(" 5/3-",a/b,"\n","5//3-",a//b)        ## Arithmetic operators
print(a+b,a-b,a*b,a**b)

 5/3- 1.6666666666666667
 5//3- 1
8 2 15 125

In [88]:
a=9
b=b
c=0
print(a==9 and b>10)                ## Logical
print(a>8 or b==10)
print(not c)

False
True
True

In [89]:
a=8
b=2                                         ## Relational
print(a<b,a>b,a==b,a<=b,a>=b,a!=b)

False True False False True True

In [96]:
a="Membership operators"
print('M' in a)
print('m' in a)                          ## Membership
print('k' not in a)
print('ship' in a)
print(' o' in a)
print(' p' in a)

True
True
True
True
True
False

In [97]:
a=5
b=1
if(a==5 and b<5):
    print("Hello")                    ## Conditional Statements
elif(b==1):
    print("Wait")
else:
    print("Bye")

Hello

In [102]:
# Even or odd
n=int(input())
if(n%2==0):
    print(n,"is even bro")
else:
    print(n,'is odd bro')

5
5 is odd bro

In [106]:
# Check wheather the given number is divisible by both 3 and 5 or not
n=int(input())
if(n%3==0 and n%5==0):
    print("yes it is")
else:
    print("no it isn't")

30
yes it is

In [112]:
# positive or negative or zero
n=int(input())
if(n==0):
    print("0")
elif(n<0):
    print("-ve")
else:
    print("+ve")

-9
-ve

In [114]:
#Leap year or not
n=int(input())
if(n%4==0):
    print("Leap year")
else:
    print("not")

2020
Leap year

In [1]:
for i in range(5):
    print("GITAM with for")
    j=1
while(j<=5):
    print("GITAM with while")
    j=j+1

GITAM with for
GITAM with for
GITAM with for
GITAM with for
GITAM with for
GITAM with while
GITAM with while
GITAM with while
GITAM with while
GITAM with while

In [5]:
for i in range(1,int(input("last number:"))+1):
    print(i)

last number:7
1
2
3
4
5
6
7